/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* vendors */
/* line 5, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 1, ../sass/base.scss */
html, body {
  height: 100%;
  background: #000;
  color: #fff; }
  /* line 5, ../sass/base.scss */
  html.homepage, body.homepage {
    background: rgba(0, 0, 0, 0.6); }
    /* line 7, ../sass/base.scss */
    html.homepage a, body.homepage a {
      display: inline; }

/* line 13, ../sass/base.scss */
* {
  box-sizing: border-box; }

/* line 17, ../sass/base.scss */
html {
  overflow-y: scroll; }

/* line 21, ../sass/base.scss */
section {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0; }
  /* line 344, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  section:before, section:after {
    content: '';
    display: table; }
  /* line 349, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  section:after {
    clear: both; }

/* line 26, ../sass/base.scss */
aside {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 40%;
  margin-left: 0%;
  margin-right: 0%;
  position: fixed;
  min-height: 100%;
  background: #191919;
  padding: 60px 80px; }
  /* line 344, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  aside:before, aside:after {
    content: '';
    display: table; }
  /* line 349, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  aside:after {
    clear: both; }
  /* line 32, ../sass/base.scss */
  aside.anger {
    background: #ff4e4e;
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-delay: 1s; }
  /* line 37, ../sass/base.scss */
  aside.anticipation {
    background: #ffb64e;
    -webkit-animation-delay: 1.1s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.1s; }
  /* line 42, ../sass/base.scss */
  aside.joy {
    background: #f0ea53;
    -webkit-animation-delay: 1.2s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.2s; }
  /* line 47, ../sass/base.scss */
  aside.trust {
    background: #6eefa1;
    -webkit-animation-delay: 1.3s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.3s; }
  /* line 52, ../sass/base.scss */
  aside.fear {
    background: #5cecee;
    -webkit-animation-delay: 1.4s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.4s; }
  /* line 57, ../sass/base.scss */
  aside.surprise {
    background: #5c90ee;
    -webkit-animation-delay: 1.5s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.5s; }
  /* line 62, ../sass/base.scss */
  aside.sadness {
    background: #830d7c;
    -webkit-animation-delay: 1.6s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.6s; }
  /* line 67, ../sass/base.scss */
  aside.disgust {
    background: #61033a;
    -webkit-animation-delay: 1.7s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.7s; }

/* line 74, ../sass/base.scss */
article {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 60%;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  left: 41.2%;
  width: 57%;
  padding: 60px 80px; }
  /* line 344, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  article:before, article:after {
    content: '';
    display: table; }
  /* line 349, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  article:after {
    clear: both; }

/* line 80, ../sass/base.scss */
hr {
  margin-bottom: 40px;
  border-color: #4b4b4b; }

/* line 85, ../sass/base.scss */
.result-container {
  margin-bottom: 40px;
  padding-left: 30px;
  padding-top: 15px;
  vertical-align: center; }
  /* line 90, ../sass/base.scss */
  .result-container.anger {
    border-left: 3px solid #ff4e4e; }
  /* line 93, ../sass/base.scss */
  .result-container.anticipation {
    border-left: 3px solid #ffb64e; }
  /* line 96, ../sass/base.scss */
  .result-container.joy {
    border-left: 3px solid #f0ea53; }
  /* line 99, ../sass/base.scss */
  .result-container.trust {
    border-left: 3px solid #6eefa1; }
  /* line 102, ../sass/base.scss */
  .result-container.fear {
    border-left: 3px solid #5cecee; }
  /* line 105, ../sass/base.scss */
  .result-container.surprise {
    border-left: 3px solid #5c90ee; }
  /* line 108, ../sass/base.scss */
  .result-container.sadness {
    border-left: 3px solid #830d7c; }
  /* line 111, ../sass/base.scss */
  .result-container.disgust {
    border-left: 3px solid #61033a; }
  /* line 114, ../sass/base.scss */
  .result-container:hover {
    padding-left: 40px;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }

/* line 120, ../sass/base.scss */
.intro {
  padding-top: 76px; }

/* line 124, ../sass/base.scss */
a {
  color: #fff;
  text-decoration: none;
  display: block; }
  /* line 128, ../sass/base.scss */
  a .emotion-button {
    padding: 16px;
    color: #fff;
    text-decoration: none;
    background: #363636;
    text-align: center;
    font-size: 18px; }
    /* line 135, ../sass/base.scss */
    a .emotion-button.anger {
      background: #ff4e4e;
      -webkit-animation-delay: 1s;
      /* Chrome, Safari, Opera */
      animation-delay: 1s; }
    /* line 140, ../sass/base.scss */
    a .emotion-button.anticipation {
      background: #ffb64e;
      -webkit-animation-delay: 1.1s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.1s; }
    /* line 145, ../sass/base.scss */
    a .emotion-button.joy {
      background: #f0ea53;
      -webkit-animation-delay: 1.2s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.2s; }
    /* line 150, ../sass/base.scss */
    a .emotion-button.trust {
      background: #6eefa1;
      -webkit-animation-delay: 1.3s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.3s; }
    /* line 155, ../sass/base.scss */
    a .emotion-button.fear {
      background: #5cecee;
      -webkit-animation-delay: 1.4s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.4s; }
    /* line 160, ../sass/base.scss */
    a .emotion-button.surprise {
      background: #5c90ee;
      -webkit-animation-delay: 1.5s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.5s; }
    /* line 165, ../sass/base.scss */
    a .emotion-button.sadness {
      background: #830d7c;
      -webkit-animation-delay: 1.6s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.6s; }
    /* line 170, ../sass/base.scss */
    a .emotion-button.disgust {
      background: #61033a;
      -webkit-animation-delay: 1.7s;
      /* Chrome, Safari, Opera */
      animation-delay: 1.7s; }
    /* line 175, ../sass/base.scss */
    a .emotion-button.off {
      background: transparent;
      border: 1px solid #363636;
      margin-bottom: -1px; }
      /* line 179, ../sass/base.scss */
      a .emotion-button.off.get-started {
        border: 1px solid #fff;
        width: 300px;
        margin: 40px auto; }

/* line 188, ../sass/base.scss */
.social-stat {
  font-size: 90px;
  text-align: center;
  padding-top: 40px; }

/* line 3, ../sass/fonts.scss */
h1 {
  font-family: "Lora", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 14px;
  text-transform: uppercase;
  padding-bottom: 50px; }

/* line 13, ../sass/fonts.scss */
.logo {
  color: #fff;
  text-decoration: none; }

/* line 17, ../sass/fonts.scss */
h2 {
  font-family: "Lora", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
  color: #fff; }

/* line 26, ../sass/fonts.scss */
.article-link {
  color: #fff;
  text-decoration: none; }
  /* line 29, ../sass/fonts.scss */
  .article-link:hover {
    text-decoration: underline; }

/* line 34, ../sass/fonts.scss */
p {
  font-family: "Lora", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #848484;
  line-height: 1.5; }

/* line 43, ../sass/fonts.scss */
.article-body {
  padding-bottom: 20px; }

/* line 47, ../sass/fonts.scss */
.center {
  text-align: center;
  padding-bottom: 40px; }

/* line 52, ../sass/fonts.scss */
.white {
  color: #fff; }

/* line 3, ../sass/splash.scss */
.splash-logo-container {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  width: 600px;
  margin: 0 auto;
  text-align: center; }
  /* line 10, ../sass/splash.scss */
  .splash-logo-container .splash-logo-c {
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ");
    background-repeat: no-repeat;
    background-size: 200% 200%;
    background-position: 100% 100%;
    -webkit-animation: square 3s linear infinite;
    -ms-animation: square 3s linear infinite;
    animation: square 3s linear infinite;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    position: relative;
    font-size: 400px;
    font-family: Times;
    line-height: inherit;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6); }

/* line 29, ../sass/splash.scss */
.tagline {
  font-size: 24px;
  color: #fff; }

/* line 34, ../sass/splash.scss */
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

@-webkit-keyframes square {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 100% 0; }
  50% {
    background-position: 100% 100%; }
  75% {
    background-position: 0 100%; }
  100% {
    background-position: 0 0; } }
@-ms-keyframes square {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 100% 0; }
  50% {
    background-position: 100% 100%; }
  75% {
    background-position: 0 100%; }
  100% {
    background-position: 0 0; } }
@keyframes square {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 100% 0; }
  50% {
    background-position: 100% 100%; }
  75% {
    background-position: 0 100%; }
  100% {
    background-position: 0 0; } }
/* line 3, ../sass/article.scss */
.content {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s; }
  /* line 344, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  .content:before, .content:after {
    content: '';
    display: table; }
  /* line 349, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/jeet/scss/_grid.scss */
  .content:after {
    clear: both; }
  /* line 6, ../sass/article.scss */
  .content.article {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s; }
