html, body {
	background: #000;
	height: 100%;
	color: #fff;
}

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

section{
	@include center(960px);
	@include uncenter();
}

aside {
	@include span(2/5);
	position: fixed;
	min-height: 100%;
	background: #191919;
	padding: 60px 80px;
	&.anger {
	background: #ff4e4e;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
	animation-delay: 1s;
	}
	&.anticipation {
		background: #ffb64e;
		-webkit-animation-delay: 1.1s; /* Chrome, Safari, Opera */
		animation-delay: 1.1s;
	}
	&.joy {
		background: #f0ea53;
		-webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
		animation-delay: 1.2s;
	}
	&.trust {
		background: #6eefa1;
		-webkit-animation-delay: 1.3s; /* Chrome, Safari, Opera */
		animation-delay: 1.3s;
	}
	&.fear {
		background: #5cecee;
		-webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
		animation-delay: 1.4s;
	}
	&.surprise {
		background: #5c90ee;
		-webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
		animation-delay: 1.5s;
	}
	&.sadness {
		background: #830d7c;
		-webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
		animation-delay: 1.6s;
	}
	&.disgust {
		background: #61033a;
		-webkit-animation-delay: 1.7s; /* Chrome, Safari, Opera */
		animation-delay: 1.7s;
	}
}

article {
	@include span(3/5);
	@include shift(2/5);
	width: 57%;
	padding: 60px 80px;
}
hr {
	margin-bottom: 40px;
	border-color: #4b4b4b;
}

.result-container {
	margin-bottom: 40px;
	padding-left: 30px;
	padding-top: 15px;
	vertical-align: center;
	&.anger {
		border-left: 3px solid #ff4e4e;
	}
	&.anticipation {
		border-left: 3px solid #ffb64e;
	}
	&.joy {
		border-left: 3px solid #f0ea53;
	}
	&.trust {
		border-left: 3px solid #6eefa1;
	}
	&.fear {
		border-left: 3px solid #5cecee;
	}
	&.surprise {
		border-left: 3px solid #5c90ee;
	}
	&.sadness {
		border-left: 3px solid #830d7c;
	}
	&.disgust {
		border-left: 3px solid #61033a;
	}
	&:hover {
		padding-left: 40px;
		@include transition(transform 0.3s);
	}
}

.intro {
	padding-top: 76px;
}

a {
	color: #fff;
	text-decoration: none;
	display: block;
	.emotion-button {
		padding: 16px;
		color: #fff;
		text-decoration: none;
		background: #363636;
		text-align: center;
		font-size: 18px;
		&.anger {
			background: #ff4e4e;
    		-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
			animation-delay: 1s;
		}
		&.anticipation {
			background: #ffb64e;
    		-webkit-animation-delay: 1.1s; /* Chrome, Safari, Opera */
			animation-delay: 1.1s;
		}
		&.joy {
			background: #f0ea53;
    		-webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
			animation-delay: 1.2s;
		}
		&.trust {
			background: #6eefa1;
    		-webkit-animation-delay: 1.3s; /* Chrome, Safari, Opera */
			animation-delay: 1.3s;
		}
		&.fear {
			background: #5cecee;
    		-webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
			animation-delay: 1.4s;
		}
		&.surprise {
			background: #5c90ee;
    		-webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
			animation-delay: 1.5s;
		}
		&.sadness {
			background: #830d7c;
    		-webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
			animation-delay: 1.6s;
		}
		&.disgust {
			background: #61033a;
    		-webkit-animation-delay: 1.7s; /* Chrome, Safari, Opera */
			animation-delay: 1.7s;
		}
		&.off {
			background: transparent;
			border: 1px solid #363636;
			margin-bottom: -1px;
		}
	}
}

.social-stat {
	font-size: 90px;
	text-align: center;
	padding-top: 40px;
}